.portfolio-container {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: "8px 0";
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.portfolio-container:hover {
  transform: scale(1.05);
}

.portfolio-image {
  height: auto;
  width: 100%;
}

.portfolio-display-info {
  color: white;
  font-size: large;
}
