.certificate-gradient {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
}

.demo-project-gradient {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #a29bfe 74%);
}
